<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <!-- <div class="form-container"> -->
        <div class="title">
          <h1 style="margin: 12px 0;">Edit profile</h1>
          <%= link_to "Back", gardens_path, class: "btn btn-info" %>
        </div>
        <div class="edit-form">
          <%= simple_form_for(@user) do |f| %>
            <%= f.error_notification %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :city %>
            <%= f.input :email %>
            <%= f.submit class: 'btn btn-primary' %>
          <% end %>
        <!-- </div> -->
      </div>
    </div>
    <div class="col-xs-8">
      <div class="row">
        <%= @user.gardens.each do |garden|%>
          <div class="col-xs-6">
            <div class="card">

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
