<div class="index-container">
  <div class="container" style="margin-left: 5px; margin-right: 0;">
    <div class="row">
    <!-- Card -->
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <% @gardens.each do |garden| %>
          <div class="col-xs-12 col-sm-6">
            <%= link_to garden_path(garden) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path garden.photo unless garden.photo.blank? %>');">
              <div class="card-stars">
                <i class="fa fa-star fa-lg star-on" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg star-on" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg star-on" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg star-on" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg star-on" aria-hidden="true"></i>
              </div>
              <div class="card-description">
                <h2><%= garden.title %></h2>
                <p><%= garden.description %></p>
              </div>
            </div>
            <% end %>
          </div>
           <% end %>
        </div>
      </div>
      <!-- Map -->
      <div class="col-xs-12 col-sm-4">
        <div id="map" style="width: auto; height: 500px; margin-top: 20px " ></div>
        <!-- <div id="map" style="width: auto; height: auto"> -->
      </div> <!-- end of col xs-12 -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of index-container -->


<!-- adding a map -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
