<div class='container'>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col sm-offset-3">
      <h1>Register your garden:</h1>
      <%= simple_form_for([@garden, @user]) do |f|%>

        <%= f.input :title, placeholder: "Magnificent garden in the heart of Latin Quarter"%>
        <%= f.input :description, placeholder: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, aut minima odit. Eaque nulla commodi, ea tenetur facere nostrum accusamus culpa, maiores perspiciatis quidem qui molestiae quae sint rem. Nisi."%>
        <%= f.input :city, placeholder: "Paris"%>
        <%= f.input :location, placeholder: "5 avenue Kléber"%>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
