<div class='container'>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col sm-offset-3">
      <h1>Register your garden:</h1>
      <%= simple_form_for(@garden) do |f|%>
        <%= f.error_notification %>
        <%= f.input :title, placeholder: "Magnificent garden in the heart of Latin Quarter"%>
        <%= f.input :description, placeholder: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, aut minima odit. Eaque nulla commodi, ea tenetur facere nostrum accusamus culpa, maiores perspiciatis quidem qui molestiae quae sint rem. Nisi."%>
        <%= f.input :address, placeholder: "5 avenue Kléber"%>
        <%= f.input :city, placeholder: "Paris"%>
        <%= f.input :capacity, collection: ["Less than 10", "10 - 49", "50 - 100", "More than 100"] %>
        <%= f.input :size, as: :numeric, label: "Size (sq.m)" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :price_per_hour, as: :numeric, label: "Price per hour (in €)" %>
        <%= f.input :f_bbq, label: "Barbecue", as: :radio_buttons %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
