<div id='map' style='width: 100%; height: 300px;'></div>

<!-- Start integration -->

<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <% if @garden.photo_url %>
        <%= cl_image_tag @garden.photo_url, crop: :fill, class: 'photo', style: 'width: 100%; height: 100%' %>
        <% else %>
        <%= image_tag 'http://placehold.it/400x300', class: 'photo'%>
        <% end %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-2 booking-form">
        <h2>Book a garden</h2>
         <%= simple_form_for [@garden, @booking] do |f| %>
         <%= f.error_notification %>
         <%= f.input :checkin_at, as: :string, input_html: { class: "datetimepicker", id: "start" }, label: false, placeholder: 'Checkin'  %>
         <%= f.input :checkout_at, as: :string, input_html: { class: "datetimepicker", id: "end" }, label: false, placeholder: 'Checkout' %>
         <strong>Price per hour:</strong> <%= @garden.price_per_hour%> EUR <br>
         <strong>Number of hours:</strong>  <span id = "nb_hours"> hours </span> <br>
         <strong>Final price:</strong>  <span id = "final_price"> EUR </span>
         <br>
         <%= f.input :accepts, label: "I have read and agree to the Terms and Conditions ", as: :boolean, checked_value: true, unchecked_value: false %>
         <%= f.submit "Book this garden", class: 'principal-btn'%>
         <% end %>
      </div>
    </div>
  </div>
</div>

<!-- 2nd integration -->

<div id="flat-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h2>About <%= @garden.title %></h2>
            <p><%= @garden.description %></p>
          </div>
          <div class="col-xs-12 col-sm-1 col-sm-offset-5">
            <div class="header-flat-details">
              <div class="header-flat-owner text-center">
                <% if @garden.user.facebook_picture_url.nil? %>
                  <%= image_tag 'http://placehold.it/50x50', class: 'avatar-large'%>
                <% else %>
                  <%= image_tag @garden.user.facebook_picture_url, class: "avatar-large" %>
                <% end %>
                <p><%= @garden.user.first_name %></p>
              </div>
            </div>
          </div>
        </div>

        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
            The Space
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><strong>Address: </strong><%= @garden.address %></li>
              <li><strong>City: </strong> <%= @garden.city %></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><strong>Size: </strong><%= @garden.size %> m2</li>
              <li><strong>Price per hour: </strong><%= @garden.price_per_hour %> euros</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
            Amenities
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="fa fa-fire"></i> Bbq</li>
              <li><i class="fa fa-wifi"></i> Wifi</li>
              <li><i class="fa fa-music"></i> Soundsystem</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="fa fa-cutlery"></i> Table</li>
              <li><i class="fa fa-glass"></i> Welcome drink</li>
              <li><i class="fa fa-cloud"></i> Weather protection solutions</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- End integration -->


<!-- calculates booking price dynamically -->
<script type="text/javascript" >
  window.onload = function() {
    $(document).ready(function() {
      $("#end").on("dp.hide", function(e) {
        var start = new Date($("#start").val());
        var end = new Date($("#end").val());
        var nb_hours = (end - start)/(60 * 60 * 1000);
        var total_price = nb_hours * (<%= @garden.price_per_hour %>)
        $("#nb_hours").html(nb_hours);
        $("#final_price").html(total_price);
      });
    });
  }
</script>

<!-- end - price calculation -->


<!-- adding a map -->
<% content_for(:after_js) do %>
  <script type="text/javascript" >
    $(document).ready(
      function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: false, zoomControl: true }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(4);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>
<!-- end map -->
