<h1 class='text-center'><%= @garden.title %></h1>
<div class="text-center">
  <%=link_to "Edit garden", root_path, class:"btn btn-primary" %>
</div>
<div class='container'>
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<% if @garden.photo_url %>
				<%= cl_image_tag @garden.photo_url, height: 300, width: 400, crop: :fill %>
			<% else %>
				<%= image_tag 'http://placehold.it/400x300' %>
			<% end %>
			<h2><%= @garden.title %></h2>
			<p>City: <%= @garden.city %></p>
			<p>Address: <%= @garden.address %></p>
			<p><%= @garden.description %></p>
			<p>Capacity: <%= @garden.capacity %></p>
			<p>Size: <%= @garden.size %></p>
			<p>Price per hour: <%= @garden.price_per_hour %></p>
		</div>

    	<div class="col-xs-12 col-sm-4">
			<h1>Create booking:</h1>
			<%= simple_form_for [@garden, @booking] do |f| %>
				<%= f.error_notification %>
				<%= f.input :checkin_at, as: :string, input_html: { class: "datepicker" }  %>
				<%= f.input :checkout_at, as: :string, input_html: { class: "datepicker" } %>
				<%= f.input :accepts, label: "I have read and agree to the Terms and Conditions ", as: :boolean, checked_value: true, unchecked_value: false %>
				<%= f.submit "Book this garden" %>
      		<% end %>
		</div>
	</div>
</div>

