<h1>My dashboard</h1>

<h2>my gardens:</h2>
<% @user.gardens.each do |garden| %>

  <%= garden.title%>
  <%= garden.description%>

  <ul>
  <% garden.bookings.each do |booking| %>
    <li>
      <%= booking.user %>
      <%= booking.status %>
      <%= booking.checkin_at %>
      <%= booking.checkout_at %>
    </li>
  <% end %>
  </ul>

<% end %>

<h2>My requests:</h2>
<ul>
  <% @user.bookings.each do |booking| %>
  <li>
    <%= booking.user%>
    <%= booking.status %>
    <%= booking.checkin_at %>
    <%= booking.checkout_at %>
  <% end %>
  </li>
</ul>
