<h1>My dashboard</h1>

<h2>my gardens:</h2>
<% current_user.gardens.each do |garden| %>
<ul>
  <li>
    <%= garden.title%>
    <%= garden.description%>

    <ul>
    <% garden.bookings.each do |booking| %>
      <li>
        <%= booking.user.email %>
        <%= booking.status %>
        <%= booking.checkin_at %>
        <%= booking.checkout_at %>
      </li>
    <% end %>
    </ul>
  </li>
</ul>

<% end %>
<h2>My requests:</h2>
<ul>
  <% current_user.bookings.each do |booking| %>
  <li>
    <%= booking.garden.user.email%>
    <%= booking.status %>
    <%= booking.checkin_at %>
    <%= booking.checkout_at %>
  <% end %>
  </li>
</ul>
