<h1>My dashboard</h1>

<h2>my gardens:</h2>
<% current_user.gardens.each do |garden| %>
<ul>
  <li>
    <div>
      <p><%= garden.title %></p>
      <p><%= garden.description %></p>
      <p><%= garden.capacity %></p>
      <p><%= garden.size %></p>
      <p><%= garden.price_per_hour %></p>
      <p>
        <%= cl_image_tag(garden.photo,
        width: 400, height: 300, crop: :thumb, gravity: :face) %>
      </p>
    </div>
    <div>
      <ul>
      <% garden.bookings.each do |booking| %>
        <li>
          <%= booking.user.email %>
          <%= booking.user.first_name %>
          <%= booking.user.last_name %>
          <%= booking.user.city %>
          <%= booking.status %>
          <%= booking.checkin_at %>
          <%= booking.checkout_at %>
        </li>
      <% end %>
      </ul>
    </div>
  </li>
</ul>

<% end %>
<h2>My requests:</h2>
<ul>
  <% current_user.bookings.each do |booking| %>
  <li>
    <%= booking.garden.user.email%>
    <%= booking.status %>
    <%= booking.checkin_at %>
    <%= booking.checkout_at %>
  <% end %>
  </li>
</ul>
