<h1 class="text-center"> My dashboard</h1>
<div class="tabs">
  <a class="tab active" href="#" id="my_request">
    <h3>My Requests</h3>
  </a>
  <a class="tab" href="#" id="my_parties">
    <h3>My Parties</h3>
  </a>
</div><!-- end of tab #1 -->

<div class="my_request_tab">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col col-xs-6">
                <h3 class="panel-title">My pending requests</h3>
              </div>
              <div class="col col-xs-6 text-right">
              </div>
            </div>
          </div>
          <div class="panel-body">
           <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th>#</th>
                <th>Garden</th>
                <th>User</th>
                <th>Check in</th>
                <th>Check out</th>
                <th>Price</th>
                <td>Status</td>
              </tr>
            </thead>
            <tbody>
              <% current_user.gardens.each do |garden| %>
                <% garden.bookings.each do |booking| %>
                  <tr>
                    <% if booking.status == "pending" %>
                      <% user = User.find(booking.user_id) %>
                      <td><%= booking.id %></td>
                      <td> <%= cl_image_tag garden.photo, class:"product-image hidden-xs" %> </td>
                      <td><%= user.email %></td>
                      <td><%= booking.checkin_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
                      <td><%= booking.checkout_at.strftime("%A, %d %b %Y %l:%M %p")%></td>
                      <td> <%= booking.total_price %>€</td>
                      <td align="center">
                        <%= link_to accept_garden_booking_path(booking.garden, booking), method: :patch, class: "btn btn-success" do %>
                        <em class="fa fa-thumbs-up"></em>
                        <% end %>
                        <%= link_to reject_garden_booking_path(booking.garden, booking), method: :patch, class: "btn btn-danger" do %>
                        <em class="fa fa-thumbs-down"></em>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
</div>  <!-- end of my request div -->
<div class="my_request_tab">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col col-xs-6">
                <h3 class="panel-title">My confirmed requests</h3>
              </div>
              <div class="col col-xs-6 text-right">
              </div>
            </div>
          </div>
          <div class="panel-body">
           <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th>#</th>
                <th>Garden</th>
                <th>User</th>
                <th>Check in</th>
                <th>Check out</th>
                <th>Price</th>
                <td>Status</td>
              </tr>
            </thead>
            <tbody>
              <% current_user.gardens.each do |garden| %>
                <% garden.bookings.each do |booking| %>
                  <tr>
                    <% if booking.status == "confirmed" %>
                      <% user = User.find(booking.user_id) %>
                      <td><%= booking.id %></td>
                      <td> <%= cl_image_tag garden.photo, class:"product-image hidden-xs" %> </td>
                      <td><%= user.email %></td>
                      <td><%= booking.checkin_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
                      <td><%= booking.checkout_at.strftime("%A, %d %b %Y %l:%M %p")%></td>
                      <td> <%= booking.total_price %>€</td>
                      <td align="center">
                        <%= link_to accept_garden_booking_path(booking.garden, booking), method: :patch, class: "btn btn-success" do %>
                        <em class="fa fa-thumbs-up"></em>
                        <% end %>
                        <%= link_to reject_garden_booking_path(booking.garden, booking), method: :patch, class: "btn btn-danger" do %>
                        <em class="fa fa-thumbs-down"></em>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
</div>  <!-- end of my request div -->

<div class="my_parties_tab hidden">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col col-xs-6">
                <h3 class="panel-title">My confirmed parties</h3>
              </div>
              <div class="col col-xs-6 text-right">
              </div>
            </div>
          </div>
          <div class="panel-body">
           <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th>#</th>
                <th>Garden</th>
                <th>User</th>
                <th>Check in</th>
                <th>Check out</th>
                <th>Price</th>
                <td>Status</td>
              </tr>
            </thead>
            <tbody>
              <tr>
              <% current_user.bookings.each do |booking| %>
                <% if booking.status == "confirmed" %>
                  <% user = User.find(booking.user_id) %>
                  <td><%= booking.id %></td>
                  <td><%= cl_image_tag booking.garden.photo, class:"product-image hidden-xs" %> </td>
                  <td><%= user.email %></td>
                  <td><%= booking.checkin_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
                  <td><%= booking.checkout_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
                  <td><%= booking.total_price  %> € </td>
                  <td align="center">
                    <a class="btn btn-default"><em class="fa fa-check-square-o"></em></a>
                  </td>
                <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my_parties_tab hidden">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col col-xs-6">
                <h3 class="panel-title">My pending parties</h3>
              </div>
              <div class="col col-xs-6 text-right">
              </div>
            </div>
          </div>
          <div class="panel-body">
           <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th>#</th>
                <th>Garden</th>
                <th>User</th>
                <th>Check in</th>
                <th>Check out</th>
                <th>Price</th>
                <td>Status</td>
              </tr>
            </thead>
            <tbody>
              <tr>
              <% current_user.bookings.each do |booking| %>
                <% if booking.status == "pending" %>
                  <% user = User.find(booking.user_id) %>
                  <td><%= booking.id %></td>
                  <td><%= cl_image_tag booking.garden.photo, class:"product-image hidden-xs" %> </td>
                  <td><%= user.email %></td>
                  <td><%= booking.checkin_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
                  <td><%= booking.checkout_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
                  <td><%= booking.total_price  %> € </td>
                  <td align="center">
                    <a class="btn btn-default"><em class="fa fa-square-o"></em></a>
                  </td>
                <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  window.onload = function() {
    $(document).ready(function() {
      $("#my_request").click(function() {
        $("#my_request").addClass("active");
        $(".my_request_tab").removeClass("hidden");
        $(".my_parties_tab").addClass("hidden");
        $(".my_reviews_tab").addClass("hidden");
      });
      $("#my_parties").click(function() {
        $("#my_parties").addClass("active");
        $(".my_parties_tab").removeClass("hidden");
        $(".my_request_tab").addClass("hidden");
        $(".my_reviews_tab").addClass("hidden");
      });
      $("#my_reviews").click(function() {
        $("#my_reviews").addClass("active");
        $(".my_reviews_tab").removeClass("hidden");
        $(".my_parties_tab").addClass("hidden");
        $(".my_request_tab").addClass("hidden");
      });
    });
  }
</script>
