<div class='container'>
<% current_user.gardens.each do |garden| %>
  <div class="product">
    <div class='product-upvote'>
    </div>
    <%= cl_image_tag garden.photo, class:"product-image hidden-xs" %>
    <div class='product-body'>
      <div>
        <p><%= garden.title %></p>
        <p><%= garden.description %></p>
        <p><%= garden.capacity %></p>
        <p><%= garden.size %></p>
        <p><%= garden.price_per_hour %></p>
      </div>
      <div>
          <% garden.bookings.each do |booking| %>
              <p><%= booking.user.email %></p>
              <p><%= booking.user.first_name %></p>
              <p><%= booking.user.last_name %></p>
              <p><%= booking.user.city %></p>
              <p><%= booking.status %></p>
              <p><%= booking.checkin_at %></p>
              <p> <%= booking.checkout_at %></p>
          <% end %>
      </div>
    </div>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
      <li><a href=""><i class="fa fa-thumbs-down"></i></a></li>
    </ul>
  </div>
 </div>
<% end %>
<h2 class="text-center">My bookings:</h2>
<div class='container'>
    <% current_user.bookings.each do |booking| %>
      <div class="product">
        <div class='product-upvote'>
        </div>
        <%= cl_image_tag booking.garden.photo, class:"product-image hidden-xs" %>
        <div class='product-body'>
            <p><%= booking.garden.user.last_name%></p>
            <p><%= booking.garden.user.first_name%></p>
            <p><%= booking.garden.user.city%></p>
            <p><%= booking.garden.user.email%></p>
            <p><%= booking.status %></p>
            <p><%= booking.checkin_at %></p>
            <p><%= booking.checkout_at %></p>
        </div>
        <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
          <li><a href=""><i class="fa fa-thumbs-down"></i></a></li>
        </ul>
      </div>
    <% end %>
</div
